<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="bdart" class="com.sitech.beans.Bluedart"/>
    <bean id="dtdc" class="com.sitech.beans.DTDC"/>
    <bean id="amz" class="com.sitech.beans.Amazon">
    
    <property name="Courier" ref="bdart"></property>
    </bean>
    
</beans>