<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- make the Date as spring bean-->
    <bean id="dt"  class="java.util.Date" />
    
    <!-- make the WeehendDayTester as spring bean-->
    <bean id="wdt"  class="com.sitech.beans.WeekendDayTester">
		<property name="date" ref="dt"></property>
	</bean>

</beans>